html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 70px;
}

.Site {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.Site-content {
    padding: 0;
    margin: 0;
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;

}

.panel.panel-inverse {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin-bottom: 0;
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 1rem;
}

.panel.panel-inverse a {
    color: #ddd;
}

.line-wrap {
    display: inline-block;
}

.icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

textarea {
    min-height: 20rem;
    resize: vertical;
}

html, body, main {
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#accordion h1 {
    font-size: 3rem !important;
}

#accordion h2 {
    font-size: 2.5rem !important;
}

#accordion h3 {
    font-size: 2rem !important;
}

#accordion p {
    font-size: 1.5rem !important;
}

#accordion .panel-body, [class^="flask-pagedown"] {
    max-height: 50rem;
    overflow-y: scroll;
}

.primary-info {
    display: flex;
    flex-direction: row-reverse;
}

.primary-info > ul {
    flex: 1;
}

.primary-info > img {
    max-height: 400px;
    margin: 10px;
}

.avatar {
    background-position: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-size: cover;
    transition: transform .5s ease-in-out;

}

.avatar-large {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    margin: 20px;
}

.avatar-small {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    margin: 10px;
}

.avatar-mini {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 1px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
}

.list-group-item:hover .avatar-small {
    transform: rotate(360deg);
}

.list-group-item:hover .avatar-mini {
    transform: rotate(360deg);
}

.avatar-large:hover {
    transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
    .primary-info {
        display: flex;
        flex-direction: column;
    }

    .primary-info > img {
        max-width: 200px;
    }

    #accordion .panel-body, [class^="flask-pagedown"] {
        max-height: 25rem;
        overflow-y: scroll;
    }

    .avatar-large {
        width: 60vw;
        height: 60vw;
        border-radius: 30vw;
        -webkit-border-radius: 30vw;
        -moz-border-radius: 30vw;
        margin: 10vw;
    }

    .avatar-small {
        width: 40px;
        height: 40px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        margin: 1px;
    }

}