{% extends "base.html" %}
{% block mycontent %}
    <table class="table table-striped table-hover">
        <h1 class="page-header">{{ title }}</h1>
        <thead>
        <tr>
            <th>书名</th>
            <th>作者</th>
            <th class="hidden-xs">ISBN</th>
            <th class="hidden-xs">分类</th>
            <th>馆藏 / 可借</th>
            {%- if g.user.is_authenticated -%}
                <th>操作</th>
            {%- endif -%}
        </tr>
        </thead>
        <tbody>
        {%- for book in books -%}
            <tr>
                <td><a href="{{ url_for('book_detail',bid=book.id) }}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td class="hidden-xs">{{ book.isbn }}</td>
                <td class="hidden-xs">{{ book.category }}</td>
                <td>{{ book.numbers }} / {{ book.can_borrow_number() }}</td>
                {%- if g.user.is_authenticated -%}
                    {%- if g.user.borrowing(book) -%}
                        <td><a class="btn btn-primary" href="{{ url_for('book_return',bid=book.id,next=request.path) }}">
                            归还
                        </a></td>
                    {%- else -%}
                        <td><a class="btn btn-success" href="{{ url_for('book_borrow',bid=book.id,next=request.path) }}"
                                {%- if not book.can_borrow() %} disabled="disabled"{%- endif -%}>
                            借阅
                        </a></td>
                    {%- endif -%}
                {%- endif -%}
            </tr>
        {%- endfor -%}
        </tbody>
    </table>
{%- endblock -%}