{% extends "base.html" %}
{% block mycontent %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#current" aria-controls="current" role="tab"
                                                  data-toggle="tab">当前借阅记录</a></li>
        <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">历史借阅记录</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">

        {% set groups = logs|groupby('returned') %}
        {% set group0 , group1 = groups[0],groups[1] %}
        <div role="tabpanel" class="tab-pane active" id="current">
            <table class="table table-striped table-hover">
                <caption>当前借阅记录</caption>
                {% if group0 %}
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th class="hidden-xs">用户邮箱</th>
                        <th>借阅书籍</th>
                        <th>借阅日期</th>
                        {%- if g.user.is_authenticated -%}
                            <th>操作</th>
                        {%- endif -%}
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in group0.list|sort(attribute='return_timestamp',reverse=True) %}
                        <tr>
                            <td><a href="{{ url_for('user_detail' ,uid=log.user.id) }}">{{ log.user.name }}</a></td>
                            <td class="hidden-xs">{{ log.user.email }}</td>
                            <td><a href="{{ url_for('book_detail',bid=log.book.id) }}">{{ log.book.title }}</a></td>
                            <td>{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                            {%- if g.user.is_authenticated -%}
                                <td>{% if log.user.id == g.user.id %}
                                    <a class="btn btn-primary"
                                       href="{{ url_for('book_return',bid=log.book.id,next=request.path) }}">
                                        归还
                                    </a>{% else %}
                                    <button class="btn btn-warning" disabled>待归还</button>{% endif %}</td>
                            {%- endif -%}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div><!-- /tab-pane -->

        <div role="tabpanel" class="tab-pane" id="history">
            <table class="table table-striped table-hover">
                <caption>历史借阅记录</caption>
            {% if group1 %}
                <thead>
                <tr>
                    <th>用户名</th>
                    <th class="hidden-xs">用户邮箱</th>
                    <th>借阅书籍</th>
                    <th>借阅日期</th>
                    <th>归还日期</th>
                </tr>
                </thead>
                <tbody>
                {% for log in group1.list|sort(attribute='return_timestamp',reverse=True) %}
                    <tr>
                    <td><a href="{{ url_for('user_detail' ,uid=log.user.id) }}">{{ log.user.name }}</a></td>
                    <td class="hidden-xs">{{ log.user.email }}</td>
                    <td><a href="{{ url_for('book_detail',bid=log.book.id) }}">{{ log.book.title }}</a></td>
                    <td>{{ log.borrow_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                    <td>{{ log.return_timestamp.strftime('%d %B %Y - %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
            </table>
        </div><!-- /tab-pane -->
    </div>
{% endblock %}