{% extends "base.html" %}
{% block mycontent %}
    <table class="table table-striped table-hover">
        <h1 class="page-header">{{ title }}</h1>
        <thead>
        <tr>
            <th>用户名</th>
            <th>用户邮箱</th>
            <th>用户借书册次</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ url_for('user_detail',uid=user.id) }}">{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.books_count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}