{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block mycontent %}
    <div class="jumbotron">
        <h1 class="page-header">{{ user.name }}
            <br>
            <small>{{ user.email }}</small>
        </h1>
    </div>
    <div class="well well-lg">
        <h3>{{ title }}</h3>
        {{ wtf.quick_form(form,button_map={'submit':'success'}) }}
    </div>
{% endblock %}

{%- block scripts -%}
    {{ super() }}
    {#    {{ pagedown.include_pagedown() }}#}
    <script src="{{ url_for('static',filename='js/Markdown.Converter.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/Markdown.Sanitizer.min.js') }}"></script>
{%- endblock -%}