{% extends "base.html" %}
{% block mycontent %}
    <div class="jumbotron">
        <h1 class="page-header">{{ user.name }}
            <br>
            <small>{{ user.email }}</small>
        </h1>
        {% if user.major %}
            <h4>{{ user.major }}</h4>
        {% endif %}

        {% if user.about_me %}
            <p>{{ user.about_me }}</p>
        {% endif %}

        {% if g.user.id==user.id or g.user.admin %}
            <a class="btn btn-info" href="{{ url_for('edit_profile',uid=user.id) }}">编辑资料</a>
        {% endif %}
        {% if g.user.id==user.id %}
            <a class="btn btn-info" href="{{ url_for('change_password',uid=user.id) }}">修改密码</a>
        {% endif %}

    </div>

    <div class="well well-lg">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#current" aria-controls="current" role="tab"
                                                      data-toggle="tab">当前借阅</a></li>
            <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">历史借阅</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="current">
                {% if borrowing_data %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>书名</th>
                            <th>作者</th>
                            <th class="hidden-xs">ISBN</th>
                            <th class="hidden-xs">分类</th>
                            <th>借阅时间</th>
                            {% if g.user.is_authenticated and g.user==user %}
                                <th>操作</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in borrowing_data %}
                            <tr>
                                <td><a href="{{ url_for('book_detail',bid=data[0].id) }}">{{ data[0].title }}</a></td>
                                <td>{{ data[0].author }}</td>
                                <td class="hidden-xs">{{ data[0].isbn }}</td>
                                <td class="hidden-xs">{{ data[0].category }}</td>
                                <td>{{ data[1] }}</td>
                                {% if g.user.is_authenticated and g.user==user %}
                                    <td><a class="btn btn-primary"
                                           href="{{ url_for('giveback',bid=data[0].id,next=request.path) }}">归还</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            <div role="tabpanel" class="tab-pane" id="history">
                {% if borrowed_data %}
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>书名</th>
                            <th>作者</th>
                            <th class="hidden-xs">ISBN</th>
                            <th class="hidden-xs">分类</th>
                            <th>借阅时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in borrowed_data %}
                            <tr>
                                <td><a href="{{ url_for('book_detail',bid=data[0].id) }}">{{ data[0].title }}</a></td>
                                <td>{{ data[0].author }}</td>
                                <td class="hidden-xs">{{ data[0].isbn }}</td>
                                <td class="hidden-xs">{{ data[0].category }}</td>
                                <td>{{ data[1] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}